.body {
    margin: auto;
    padding: auto;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #EE3B24;
    color: #fff;
}

.navbar p{
    background-color: #D9D9D9;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}

.logo a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

.center-content input[type="text"] {
    width: 500px;

    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #D9D9D9;
    color: #333;
    font-size: 14px;
}


.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

